/*grid sys: the setting below is set up for mobile deviees other expansions would be adjusted
thru media queries at the end*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*FLEX BOX*/
.body-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}


.list-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

}

.list-item{
	flex-basis:100%;
}


.color-container, .product-container{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

/*how to place the child elements*/
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;


}

/*portfolio nav*/
.nav-container{
	display:block;
	margin:0;
	/* display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; */

/*how to place the child elements*/
	/* -webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start; */


}

.main-nav{
	flex-basis:100%;
}



.colour-structure{
	flex-basis:100% ;/*the content will occupy the entire screen at the time*/

	margin: 0 1rem; /*this will affect how it display, make sure to take into considerations*/

}

.nav-item-structure{
	flex-basis:100%;
	text-align:center;
}

/*project display*/
.project-container{
	position:relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.project-item{
	flex-basis:95%;
}

/*porject display*/
@media(min-width:31.125em) and (max-width:56.25em){
	.project-item{
		flex-basis:40%;
	}

	.project-hover-text{
	  font-size: 1rem;
	}

	.recent-project-item{
		flex-basis:30%;
	}

	#recent-project-footer{
	  padding-top:1.5rem;
	  position:absolute;
	  width:100%;
	  bottom:0;
	  left:0;
	   background-color:#EAE9E9;
	}

	.overview-vid-item{
	flex-basis:45%;
	}

	.overview-item{
		flex-basis:50%;
	}

}

@media(min-width:56.25em){
	.project-item{
		flex-basis:25%;
	}

	.project-hover-text{
		font-size: 1rem;
	}

	.recent-project-item{
		flex-basis:20%;
	}

	#recent-project-footer{
	  padding-top:1.5rem;
	  position:absolute;
	  width:100%;
	  bottom:0;
	  left:0;
	   background-color:#EAE9E9;
	}

	.overview-vid-item{
	flex-basis:50%;
	}

	.overview-item{
		flex-basis:50%;
	}

	.styling-bullet{
	  padding-left:0;
	}
}


@media(min-width:50.25em){

  section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
    max-width:50%;
  }

}

@media(min-width:48.437em) and (max-width:56.25em){
  .sample-para{
    max-width:70%;
  }

  p{
    max-width:60%;
  }
}

@media(min-width:56.25em){
  .sample-para{
    max-width:55%;
  }

  p{
    max-width:60%;
  }

}


@media(min-width:48.75em){

	.colour-structure{
		flex-basis:15%;

		margin: 0 1rem;

	}

	 .nav-item-structure{
		flex-basis:15%;
	}


}

@media(min-width:18.75em) and (max-width:48.75em) {

	.colour-structure{
		flex-basis:40%;

		margin: 0 1rem; /*this will affect how it display, make sure to take into considerations*/

	}
}

/*port nav*/
@media(min-width:49.375em){

  .nav-container{

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;

  }
}

@media(min-width:45.62em) and (max-width:56.25em){
	.project-item{
		flex-basis:50%;
	}

	.project-hover-text{
	  font-size: 1rem;
	}
}

@media(min-width:56.25em){
	.project-item{
		flex-basis:40%;
	}

	.project-hover-text{
		font-size: 1rem;
	}
}
