/*
STYLE GUIDE STYLING
Default styling for the style guide

*/
body {
  padding-top: 4rem;
  background-color:#3C3C3C;
}

.body-container{
  background-color:#EAE9E9;
}

.body-content{
  padding-left:2rem;
}


section:not([id]) {
  margin: 1em 0;
  padding: 1em 0;
}

h1{

  font-family: 'Kalam', cursive;
  color:#3C3C3C;

}

.styleguide-title{
  display:inline-block;
  font-size:3rem;
  padding-left:0;

}

.title-nav-structure{
  padding-left:2rem;
}


section h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color:#3C3C3C;
  font-family: 'Open Sans', sans-serif;
  font-weight:bolder;
}

section h3{
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  color:#3C3C3C;
  padding-bottom:1rem;
}

h4{
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color:#3C3C3C;
  padding-bottom:1rem;

}

section p {
  margin-top: 1rem;
}

p{
  font-family: 'Open Sans', sans-serif;
  max-width:80%;
  line-height:1.5rem;
}

nav {
  margin-bottom: 1em;
  padding-bottom: 1em;
  font-family: 'Open Sans', sans-serif;

}

nav a:hover, nav a:focus {
  text-decoration: none;
}

.list-item{
  font-family: 'Open Sans', sans-serif;
  display:inline-block;
  text-decoration:none;
  color:#3C3C3C;
  -webkit-transition: color 0.3s ease-in;
  transition:  color 0.3s ease-in;

  text-align:left;
}

.list-item:hover, .list-item:focus{
  color:#339D8B;
}


section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
  max-width:100%
}


/* .product-img, .nav-attached-logo{
display:inline-block;
max-width:100%;
}

.icon-size{
display:inline-block;
max-width:100%;
} */

ul.citations li{
  list-style-type:none;
  padding:0.5rem 0;
  font-family:'Ubuntu' ,sans-sans-serif;
}

ul{
  max-width:75%;
}

.nav-styling li{
  list-style-type:none;
}

/*
INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.main-nav {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight:bold;
  text-decoration: none;
  color:#3C3C3C;

  position: relative;
  width: 5rem;
  text-align: center;
}



/*create an invisible box underneath the nav item and this would
be acting like an underlined animation
http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
.main-nav:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #B35F5E;
  visibility: hidden;
  /*initially it does not occupy any space*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.main-nav:hover:before, .main-nav:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.in-text{
  font-family: 'Open Sans', sans-serif;
  max-width:70%;
  line-height:1.5rem;
  text-decoration:none;
  color:#339D8B;
  font-weight:bold;

  -webkit-transition: color 0.2s ease-in;
  transition:  color 0.2s ease-in;

}

.in-text:hover, .in-text:focus{
  color:#3C3C3C;
}

/* .submit-reset-button-style{

display: inline-block;
font-family:'Ubuntu' ,sans-sans-serif;
padding: 0.5em 0.75em;
color: #ffffff;
background-color: #653e8a;
border-radius: 0.5rem;
border-style:solid;
border-color:#ffffff;
border-width:thin;
margin: 0.3rem 0;


-webkit-transition:  color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
transition: color 0.3s ease-out, background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.submit-reset-button-style:hover, .submit-reset-button-style:focus{

color: #653e8a;
border-color:#653e8a;
background-color: #ffffff;

} */

.button-style{

  display: inline-block;
  font-family:'Ubuntu' ,sans-sans-serif;
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: #653e8a;
  border-radius: 1rem;
  border-style:solid;
  border-width:thin;
  border-color:#ffffff;


  -webkit-transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  transition: border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
}

.button-style:hover, .button-style:focus{

  background-color: #ffffff;
  color:#d89a41;
  border-color:#d89a41;

}

/*
form{
font-family:'Ubuntu' ,sans-sans-serif;
color:#888888;

}

form input{
font-family: 'Brawler', serif;
font-size:1rem;
padding: 0.2rem 0.2rem;

}

form input[type^=text]{
border-radius:0.4rem;
border: 0.1rem solid #653e8a;
margin:0.8rem 0.5rem;
} */

/*
TEXT ELEMENTS -------------------
*/
.sample-para{
  font-family: 'Open Sans', sans-serif;
  max-width:95%;
  line-height:1.8rem;

}

/* .personal-story{
color:black;
padding: 1.5rem 1rem;
border-radius:1rem;
font-style:italic;
background-color:#e0e0e0;
} */

.styling-bullet{
  list-style-type: square;
  font-family:'Ubuntu' ,sans-sans-serif;
  color:#888888;
  font-size:1.1rem;
  line-height:1.8rem;
}

/* .styling-ordered{
font-family:'Ubuntu' ,sans-sans-serif;
color:#888888;
font-size:1.1rem;
line-height:1.8rem;
} */


/*
COMBINED ELEMENTS -------------------
*/


/*swatches*/

.colour-box{
  width:100%;
  height:4.5rem;
}

.first-colour{
  background-color: #D69D53;

}

.second-colour{
  background-color: #339D8B;
}

.third-colour{
  background-color:#B35F5E;
}

.forth-colour{
  background-color:#e0e0e0;
}



.fifth-colour{
  background-color: #3C3C3C;
}

.sixth-colour{
  background-color: #fff;
}

.swatch{
  padding-top:0.5rem;
  font-weight:bold;
}

/*////////////////*/


/* @media(min-width:75em){

.rating-img{
max-width:25%;
}


}

@media(min-width:29.687em){

.rating-img{
max-width:13%;
}


}

@media(min-width:48.75em) and (max-width:75em){
.nav-attached-logo{
max-width:95%;
padding-top:0.5rem;
vertical-align:middle;
}

}

@media(min-width:26.25em){
.company-title{
font-size:4rem;
}
}

@media(min-width:31.25em) and (max-width:75em){
.icon-size{
max-width: 60%;
}
}

@media(min-width:75em){
.icon-size{
max-width: 40%;
}
} */
