/*grid sys: the setting below is set up for mobile deviees other expansions would be adjusted
thru media queries at the end*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*portfolio nav*/
.nav-container{
	/* display:block;
	margin:0;
	text-align:center; */
	-webkit-justify-display:flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;

	margin:0 0;
	align-items:center;

}


/*project display*/
.project-container{
	position:relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.project-item{
	flex-basis:95%;
}

/*recent project*/
.recent-project-container{
	position:relative;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.recent-project-item{
	flex-basis:95%;
}

/*about*/
.about-container{
	-webkit-justify-display:flex;
	-ms-display: flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;

	margin: 0 1.5rem;
}

.about-item{
	display:inline-block;
	flex-basis:100%;
}

/*vid*/
/* This is the div the video is placed inside */
.video-container{
  margin:0 0;
  width:600px;
}

/* This code adjusts the size of the video, without distorting the aspect ratio */
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Adjust the size for mobile devices */
@media only screen and (max-width: 599px) {
.video-container{
  width:100%;
 }
}

/*overview with vid*/
.overview-video{
	-webkit-justify-display:flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	-webkit-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;

}

.overview-vid-item{
flex-basis:100%;
padding:0 1.5rem;
}

/*overview with normal image*/

 .overview-image-container{

	 -webkit-justify-display:flex;
	 -ms-display: flex;
	 display: flex;

	 -webkit-flex-wrap: wrap;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;

	 -webkit-justify-content: space-around;
	 -ms-justify-content: space-around;
	 justify-content: space-around;

 }
.overview-item{
	flex-basis:100%;
}

/*project image*/
@media(min-width:37.5em) and (max-width:56.25em){
	figure{
	margin-top: 1rem;
	margin-left: 10%;
	}

	.project-image{
	  max-width:80%;
	}

	figCaption{
	  max-width:70%;
	}

}

@media(min-width:56.25em){

	figure{
	margin-top: 1rem;
	margin-left: 15%;
	}

	.project-image{
		max-width:60%;
	}

	figCaption{
		max-width:60%;
	}

	.project-paragraph{
		max-width:70%;
	}
}

/*Nav*/
/*port nav*/
@media(min-width:49.375em){

	.nav-container{

		/* display: -webkit-flex;
		display: -ms-flex;
		display: flex;

		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		-webkit-justify-content: flex-start;
		-ms-justify-content: flex-start;
		justify-content: flex-start; */

	}
}


/*porject display*/
@media(min-width:31.125em) and (max-width:56.25em){
	.project-item{
		flex-basis:40%;
	}

	.project-hover-text{
	  font-size: 1rem;
	}

	.recent-project-item{
		flex-basis:30%;
	}

	#recent-project-footer{
	  padding-top:1.5rem;
	  position:absolute;
	  width:100%;
	  bottom:0;
	  left:0;
	   background-color:#EAE9E9;
	}

	.overview-vid-item{
	flex-basis:45%;
	}

	.overview-item{
		flex-basis:50%;
	}

}

@media(min-width:56.25em){
	.project-item{
		flex-basis:25%;
	}

	.project-hover-text{
		font-size: 1rem;
	}

	.recent-project-item{
		flex-basis:20%;
	}

	#recent-project-footer{
	  padding-top:1.5rem;
	  position:absolute;
	  width:100%;
	  bottom:0;
	  left:0;
	   background-color:#EAE9E9;
	}

	.overview-vid-item{
	flex-basis:50%;
	}

	.overview-item{
		flex-basis:50%;
	}

	.styling-bullet{
	  padding-left:0;
	}
}

/*about*/
@media (min-width:40.625em) and (max-width:56.25em){

	.about-item{
		flex-basis:50%;
	}

	#photo_one{
	  display:none;
	}

	#photo_two{
	  display:flex;
	}
}

@media(min-width:56.25em){

	.about-item{
		flex-basis:50%;
	}

	#photo_one{
	  display:none;
	}

	#photo_two{
	  display:flex;
	}


}
