@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  /* #EAE9E9 */
  background-color:white;
}

iframe{
  border:none;
}

footer{
  font-family: 'Roboto', sans-serif;
  color:#3C3C3C;
  font-size:0.8rem;
  padding-bottom:1rem;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size:1.4rem;
  margin-top:0;
  color:#3C3C3C;
}

.chinese-name{
  display:block;
  font-family: ‘Noto Sans TC’, sans-serif;
  line-height:2.5rem;
  font-weight:200;
  text-align:center;
}

.intro-description{
  max-width:100%;
  margin:0 2rem;
  text-align:center;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color:#3C3C3C;
  font-family: 'Open Sans', sans-serif;
  font-size:1.2rem;
  font-weight:bolder;
}
.project-name-vid{
  color:#3C3C3C;
  margin-left:1rem;
}

.project-title-vid{
  color:#3C3C3C;
  margin-top:1rem;
  margin-left:1rem;
}

.preview-section-container{
  	border-bottom-style: solid;
    border-bottom-width:1.5px;
    border-bottom-color:#DBDBDB;
    padding-bottom:5rem;
}


.project-name{
  color:#636363;
  margin-left:1rem;
  margin-bottom:0.8rem;
  font-family: 'Open Sans', sans-serif;
}

.project-title{
  color:#3C3C3C;
  margin-left:1rem;
  margin-top: 1.5rem;
  margin-bottom:0.8rem;
  font-size:2rem;
  font-family: 'Amiri', serif;

/*bigger screen [final]*/
  /* color:#3C3C3C;
  margin-left:1rem;
  margin-top: 6.5rem;
  margin-bottom:0.8rem;
  font-size:3.5rem;
  font-family: 'Amiri', serif; */

  /* color:#3C3C3C;
  margin-left:1rem;
  margin-top: 1rem;
  margin-bottom:0.8rem;
  font-size:3rem;
  font-family: 'Amiri', serif; */
}

.project-section-title{
  color:#3C3C3C;
  margin: 2.3rem 0;
  margin-left:1.5rem;
}

.recent-project-name{
  margin-left:2.3rem;
}

h3{
  margin-bottom: 0;
  font-family: 'Amiri', serif;
  font-weight:bold;
  color:#3C3C3C;
  padding-bottom:1rem;
}



img{
  max-width:60%;
}

.home-img{
  max-width:100%;
  margin-top:1rem;
}

p{
  /* font-family: 'Amiri', serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-size:1.3rem; */
  max-width:80%;
  line-height:1.6rem;
  color:rgba(0,0,0,.84);
}

.project-paragraph{
  font-family: 'Amiri', serif;
  font-size:1.5rem;
  line-height: 1.7rem;
  margin:1rem auto;
}

.in-para-overview-title{
  margin-bottom:0;
  margin-top:0.5rem;
  padding-bottom:0.5rem;
}

.first-paragraph{
  margin-top:3rem;
}

.first-title{
  margin-top:5rem;
}

figCaption{
  font-family:'Roboto', sans-serif;
  font-weight:bold;
  max-width:100%;
  color:#3C3C3C;
  padding-bottom:1rem;
  font-size:0.9rem;
}

figure{
  margin: 1rem 0.5rem;
}

.project-image{
  max-width:100%;
}

.small-image{
  width:100%;
}

#contact{
  font-family:'Roboto', sans-serif;
  display:inline-block;
  font-size:0.8rem;
  color:#3C3C3C;
  line-height:1rem;
  max-width:100%;
}

/*about*/
.about-para{
  max-width:100%;
}

#photo_one{
  display:flex;
  margin:auto;
}

#photo_two{
  display:none;
}

/*overview image*/
.overview-image-item{
  max-width:100%;
  /* padding:0 1rem; */
}

.overview-subtitle{
  padding:0 0;
  margin-left:1rem;
}

.overview-description{
  margin-top:0.2rem;
  margin-bottom:0;
  font-size:1rem;
  margin-left:1rem;
}

/*vid and overview*/
.overview-accent-color-one{
  color:#3C3C3C;
}

.overview-accent-color-two{
  color:#3C3C3C;
}

.overview-section{
  padding-top:1rem;
  padding-bottom:1rem;
  background-color:rgba(219, 219, 219, .35);
}

.nav-in-project-detail{
  margin-bottom:0;
}

/*for footer nav link*/
a{
  text-decoration: none;
  color:#3C3C3C;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

a:hover {
  text-decoration: none;
  color:#B35F5E;
}

.nav-link:hover{
  text-decoration: none;
  color:#3C3C3C;
}

/*nav*/
.nav-container li{
  list-style-type:none;
}

nav {
  margin-bottom: 1rem;
  /* padding-bottom: 1em; */
  font-family:'Roboto', sans-serif;
  background-color:white;
  border-bottom-style:dotted;
  border-color:#DBDBDB;

}

nav a:hover, nav a:focus {
  text-decoration: none;
}

/* Styling for the navigation button */
.main-nav-accent-one {
  display: inline-block;
  font-family:'Roboto', sans-serif;
  text-decoration: none;
  color:#3C3C3C;
  font-weight:bold;
  position: relative;
  width: 5rem;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

.main-nav-accent-two {
  display: inline-block;
  font-family:'Roboto', sans-serif;
  text-decoration: none;
  color:#3C3C3C;
  font-weight:bold;
  position: relative;
  width: 5rem;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}



/*create an invisible box underneath the nav item and this would
be acting like an underlined animation
http://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
.main-nav-accent-one:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #B35F5E;
  visibility: hidden;
  /*initially it does not occupy any space*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.main-nav-accent-one:hover:before, .main-nav-accent-one:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main-nav-accent-one:hover, .main-nav-accent-one:focus {
  color:#B35F5E;
}

.main-nav-accent-two:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #D69D53;
  visibility: hidden;
  /*initially it does not occupy any space*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.main-nav-accent-two:hover:before, .main-nav-accent-two:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main-nav-accent-two:hover, .main-nav-accent-two:focus {
  color:#D69D53;
}

.nav-container ul{
  width: 100%;
  list-style: none;
}

nav ul{
  padding-left:0;
}

.main-nav-accent-one:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.5rem;
  left: 0;
  background-color: #B35F5E;
  visibility: hidden;
  /*initially it does not occupy any space*/
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.main-nav-accent-one:hover:before, .main-nav-accent-one:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-logo-item{
  display:inline-block;
  margin:0.5rem 0;
  margin-left:0;
  font-family: 'Roboto', sans-serif;
  color:#3C3C3C;
  font-size: 1.5rem;
  text-align:center;
  font-weight:bold;

  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s;
}

.nav-logo-item:hover, .nav-logo-item:focus{
  color:#339D8B;
}

nav {
  width: 100%;
}

nav li {
  display:inline-block;
  margin: 0.3rem 1rem;
}

/*intext link*/
.in-text{
  font-family:'Roboto', sans-serif;
  max-width:70%;
  line-height:1.5rem;
  text-decoration:none;
  color:#339D8B;
  /* font-weight:bold; */

  -webkit-transition: color 0.2s ease-in;
  transition:  color 0.2s ease-in;

}

.in-text:hover, .in-text:focus{
  color:#3C3C3C;
}


/*project display*/
.project-item {
  display: inline-block;
  position:relative;
  /* line-height: 35px; */
  margin: 0.3rem;
  font-size: 1rem;
  opacity: .999;
  /* border-radius: 3px; */
}

.project-item-img{
  max-width:100%;
  padding:0.5rem;
  vertical-align:center;
}

.project-item-title, .project-item-description{
  display: block;
  margin: auto;
  text-align: center
}


.project-item {
  background-color: transparent;
  border: 1.6px solid #d0d0d0;
}


.project-item:before, .project-item:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  /* border-radius: 3px; */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.project-item:before {
  width: 0;
  height: 100%;
  border-width: 1.6px 0 1.6px 0;
  top: -1px;
  left: 0;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}


.project-item:after {
  width: 100%;
  height: 0;
  border-width: 0 1.6px 0 1.6px;
  top: 0;
  left: -1px;
}
.project-item:hover:before {
  width: 100%;
}
.project-item:hover:after {
  height: 100%;
}
.border-highlight-one:before, .border-highlight-one:after {
  border-color: #D69D53;
}

.border-highlight-two:before, .border-highlight-two:after {
  border-color: #339D8B;
}

.border-highlight-three:before, .border-highlight-three:after {
  border-color: #B35F5E;
}

.project-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .55;
  background-color: #fff;
}

.project-description{
  line-height:1.3rem;
}


.project-hover-text{
  color: #3C3C3C;
  font-size: 0.8rem;
  font-weight:600;
  line-height:0.1rem;
  position: absolute;
  max-width:100%;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*recent project*/
.recent-project-item {
  display: inline-block;
  position:relative;
  /* line-height: 35px; */
  margin: 0.3rem;
  font-size: 1rem;
  opacity: .999;
  /* border-radius: 3px; */
}

.project-item-img{
  max-width:100%;
  padding:0.5rem;
  vertical-align:center;
}

.project-item-title, .project-item-description{
  display: block;
  margin: auto;
  text-align: center
}

#recent-project-footer{
  padding-top:1.5rem;
  width:100%;
  margin-bottom:0;
  background-color:#EAE9E9;
}

.recent-project-item {
  background-color: transparent;
  border: 1.6px solid #d0d0d0;
}

.recent-project-item-img{
  max-width:100%;
  width:100%;
  padding:0.5rem;
  vertical-align:center;
}


.recent-project-item:before, .recent-project-item:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  /* border-radius: 3px; */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.recent-project-item:before {
  width: 0;
  height: 100%;
  border-width: 1.6px 0 1.6px 0;
  top: -1px;
  left: 0;
  -webkit-transition-delay: 0.08s;
  transition-delay: 0.08s;
}


.recent-project-item:after {
  width: 100%;
  height: 0;
  border-width: 0 1.6px 0 1.6px;
  top: 0;
  left: -1px;
}
.recent-project-item:hover:before {
  width: 100%;
}
.recent-project-item:hover:after {
  height: 100%;
}

/* .project-overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: .7;
background-color: #fff;
}

.project-description{
line-height:1.3rem;
}


.project-hover-text{
color: #3C3C3C;
font-size: 0.8rem;
font-weight:600;
line-height:0.1rem;
position: absolute;
width:100%;
top: 50%;
left: 60%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
} */

/*footer*/
footer{
  text-align:center;
}
